<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="Warn"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Targets.InfluxDB"/>
	</extensions>

	<targets>
		<target xsi:type="InfluxDB"
				name="influx"
				Host="https://yourinfluxhost.com"
				Bucket="MyBucket"
				Token="inFluXApi=K3y"
				Org="Organisation"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="influx" />
	</rules>
</nlog>